<% if @answers.any? %>
  <% @answers.each do |answer| %>
    <div class="border border-info py-4 answer-main">
      <div class="answer-info">
        <div class="answer-image">
            <span><%= answer_name(answer) %></span>
        </div>  
        <p><%= answer.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
      </div>
      <div class="question-info">
        <div class="question-content">
          <%= simple_format answer.content %>
        </div>
      </div> 
      <div class="best-answer-registration text-right">
        <span>
          <%= link_to 'ベストアンサーに登録する', question_answer_best_answer_path, method: :post, data: {confirm: "本当にベストアンサーとして登録しますか？"}  %>
        </span>
      </div>
    </div>  
  <% end %>
  <div class="pagination">
    <%= paginate @answers, params: {anchor: "all-answers"} %>
  </div>
<% else %>
  <h3>※回答はまだありません。</h3>
<% end %>