<% if @question.best_answer_id %>
  <% @answers = except_best_answer(@answers, @question) %>
<% end %>

<% if @answers.any? %>
  <% @answers.each do |answer| %>
    <div class="border border-info py-4 answer-main">
      <div class="answer-info">
        <div class="answer-image">
            <span>回答者 : <%= answer_name(answer) %></span>
        </div>  
        <p>回答日時 : <%= answer.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
      </div>
      <div class="question-info">
        <div class="question-content">
          <%= simple_format answer.content %>
        </div>
      </div> 
      <div id="goodBtn">
        <% unless current_user.id == answer.user_id %>
          <% if allready_favorite?(answer) %>
            <%= link_to  question_answer_favorite_path(@question, answer), method: :delete do %>
              <p><i class="fas fa-thumbs-up"></i>いいね！<span><%= favorites_counts(answer) %></span></p>
            <% end %>
          <% else %>
            <%= link_to  question_answer_favorite_path(@question, answer), method: :post do %>
              <p><i class="far fa-thumbs-up"></i>いいね！<span><%= favorites_counts(answer) %></span></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% unless @question.best_answer_id %>
        <% if correct_user?(@question) %>
          <div class="best-answer-registration text-right">
            <span>
              <%= link_to 'ベストアンサーに登録', question_answer_best_answer_path(@question, answer), 
                  method: :post, data: {confirm: "本当にベストアンサーとして登録しますか？"} , class: "btn btn-primary btn-sm" 
              %>
            </span>
          </div>
        <% end %>
      <% end %>
      <% if current_user.id == answer.user_id %>
        <div class="destroy-answer text-right mr-3">
          <span>
            <%= link_to '回答を削除', question_answer_path(@question, answer), method: :delete,
                date: {confirm: "本当にこの回答を削除しますか？"}, class: "btn btn-danger btn-sm"
            %>
          </span>
        </div>
      <% end %>
    </div>  
  <% end %>
  <div class="pagination">
    <%= paginate @answers, params: {anchor: "all-answers"} %>
  </div>
<% else %>
  <h3>※回答はまだありません。</h3>
<% end %>