<% if @category.present? %>
  <% @questions.each.with_index(1) do |question, i| %>
    <tr>
      <th scope="row">Q. <%= i %> <%=link_to question.title, question %></th>
    </tr>
  <% end %>
<% else %>
  <% @all_questions.each.with_index(1) do |question, i| %>
    <tr>
      <th scope="row">
        Q. <%= i %> <%= link_to question.title, question %>
        <span class="post-day">(投稿日 ： <%= question.created_at.strftime("%Y/%m/%d") %>)</span>
      </th>
    </tr>
  <% end %> 
<% end %>