<div class="container">
  <div class="row qanda-header">
    <div class="col-md-12 text-right qanda-search mt-5">
      <%= search_form_for @search, url: questions_path(anchor: "questions") do |f| %>
        <%= f.label :title_cont, "Q&A検索" %>
        <%= f.search_field :title_cont, placeholder: "キーワードで探す" %>
        <%= f.submit "検索"%>
      <% end %>
    </div>
    <div class="col-md-12">
      <h1>Q&Aコーナー</h1>
      <p class="border-bottom border-aqua">■気軽に助成金等に関する手続きなどについて質問してみよう。</p>
      <p class="text-right"><%= link_to '質問・相談を投稿する', new_question_path, class: "btn btn-info"%></p>
      <h3 class="text-center">カテゴリで検索</h3>
    </div>
  </div>
  <div class="row mt-4 select-category">
    <div class="col-md-12 card-content">
      <%= render 'questions_category_list' %>
    </div>
  </div>
  <div class="row qanda-main">
    <div class="col-md-7">
      <table class="table table-hover">
        <thead id="questions" class ="question-title">
          <tr>
            <% if @category.present? %>
              <th colspan="2"><%= @category.title %></th>
            <% else %>
              <th colspan="2">全ての質問・相談一覧（新着順）</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= render 'list_questions' %>
        </tbody>
      </table>
      <% if @category.present? %>
        <div class="questions-pagination">
          <%= paginate @questions, params: {anchor: "questions"} %>
        </div>
      <% else %>
        <div class="questions-pagination">
          <%= paginate @all_questions, params: {anchor: "questions"} %>
        </div>
      <% end %>
    </div>
    <div class="col-md-5 qanda-sidebar">
      <% if @category.present? %>
        <div class="ranking-by-category">
          <%= render 'ranking_by_category' %>
        </div>
      <% else %>
        <div class="ranking-by-all">
          <%= render 'ranking_by_all' %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>