<div class="container">
  <div class="row qanda-header">
    <div class="col-md-10">
      <h1>Q&Aコーナー</h1>
      <p>気軽に助成金等に関する手続きなどについて質問してみよう。</p>
    </div>
  </div>
  <div class="row select-category">
    <div class="col-lg-6 col-md-4">
      <p><%= link_to '',  %></p>
      <p><%= link_to '',  %></p>
      <p><%= link_to '',  %></p>
      <p><%= link_to '',  %></p>
      <p><%= link_to '',  %></p>
      <p><%= link_to '',  %></p>
    </div>
  </div>
  <div class="row qanda-main">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <% items.each do |item| %>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>