<div class="container">
  <div class="row question-new-content">
    <div class="col-lg-10 ml-4">
      <h3 class="text-center">質問・相談をしてみよう！</h3>
      <%= form_with model: @question, local: true do |f| %>
        <div class="error-message-area">
          <%= render 'layouts/error_form', model: @question %>
        </div>
        <div class="category-form my-4">
          <p class="mb-0"><%= f.label :category_id, "質問カテゴリ" %></p>
          <%= f.collection_select(:category_id, Category.all, :id, :title, {prompt: "カテゴリを選択してください"}, {class: "form-control"}) %>
        </div>
        <div class="title-form my-4">
          <p class="mb-0"><%= f.label :title , "質問タイトル"%></p>
          <%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力してください", size: 60%>
        </div>
        <div class="content-form my-3">
          <p class="mb-0"><%= f.label :content, "質問内容" %></p>
          <%= f.text_area :content, class: "form-control", placeholder: "質問内容を記載してください", size: "60x10" %>
        </div>
        <p><%= f.submit "投稿する", class: "btn btn-info form-control" %></p>
      <% end %>
      <p><%= link_to '質問一覧ページへ戻る', :questions, class: "btn btn-info w-100" %></p>
    </div>
  </div>
</div>

