<div class="container question-container">
  <div class="row ml-4">
    <div class="col-md-7  mb-3 question-title">
      <h2><%= @question.title %></h2>
    </div>
  </div>
  <div class="row ml-4">
    <div class="col-md-7 question-main">
      <div class="questioner-info">
        <div class="questioner-image">
          <span>質問者 : <%= @question.user.nickname %></span>
        </div>
        <p>投稿日時 : <%= @question.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
      </div>
      <div class="question-info">
        <div class="question-content">
          <%= simple_format @question.content %>
        </div>
        <div class="impression-count">
          <span><i class="far fa-eye"></i></span><span><%= @question.impressions_count %></span>
        </div>
      </div>
    </div>
    <div class="col-md-5 qanda-sidebar">
      <div class="same-category-questions">
        <%= render "same_category_questions" %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-8 ml-4 mt-6 button-area">
      <% if correct_user?(@question) %>
        <td>
          <%= link_to '投稿を削除する', @question, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-primary" %>
        </td>
      <% end %>
      <div class="new-answer-link ml-3">
        <%= link_to '回答・アドバイスを投稿する', new_question_answer_path(@question), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% if @question.best_answer_id %>
    <div class="row best-answer-container ml-4">
      <div class="col-md-7 border border-warning best-answer-bg">
        <div class="best-answer-title">
          <h3>★ベストアンサー★</h3>
        </div>
        <%= render 'best_answer_content' %>
        <div class="text-right">
            <%= link_to 'ベストアンサーを解除する', question_answer_best_answer_path(question_id: @question.id, answer_id: @question.best_answer_id),
              method: :delete, data: {confirm: "本当にベストアンサー登録を解除しますか？"}, class: "btn btn-danger btn-sm"
            %>
        </div>
      </div>
      <div class="col-md-5 sidebar">
        <%= render 'ranking_by_all' %>
      </div>
    </div>
  <% end %>

  <div id="normal-answer" class="row ml-4 mt-5">
    <div class="col-md-7 answer-except-best-answer">
      <h3 id="all-answers" class="mb-3">○ベストアンサー以外の回答○</h3>
      <%= render 'all_answers_of_question' %>
    </div>
    <% unless @question.best_answer_id %>
      <div class="col-md-5">
        <%= render 'ranking_by_all' %>
      </div>
    <% end %>
  </div>
</div>
  