<div class="container question-container">
  <div class="row ml-4">
    <div class="col-md-7  mb-3 question-title">
      <h2><%= @question.title %></h2>
    </div>
  </div>
  <div class="row ml-4">
    <div class="col-md-7 question-main">
      <div class="questioner-info">
        <div class="questioner-image">
          <span><%= @question.user.nickname %></span>
        </div>
        <p><%= @question.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
      </div>
      <div class="question-info">
        <div class="question-content">
          <%= simple_format @question.content %>
        </div>
        <div class="impression-count">
          <span><i class="far fa-eye"></i></span><span><%= @question.impressions_count %></span>
        </div>
      </div>
    </div>
    <div class="col-md-5 qanda-sidebar">
      <div class="same-category-questions">
        <%= render "same_category_questions" %>
      </div>
    </div>
  </div>
  
  <div class="row best-answer-container ml-4">
    <div class="col-md-7 border border-warning">
      <div class="best-answer-title">
        <h3>★ベストアンサー★</h3>
      </div>
      <% if @best_answer.count == 1 %>
        <div class="answer-info">
          <div class="answer-image">
            <%# 後々イメージ画像挿入 %>
            <span><%= best_answer_name(@best_answer) %></span>
          </div>
          <p class="text-right mb-4"><%= best_answer_date(@best_answer) %></p>
        </div>
        <div class="question-info">
          <div class="question-content">
            <%= simple_format best_answer_content(@best_answer) %>
          </div>
        </div>
      <% else %>
        <h3>現在ベストアンサーに登録されているものはありません</h3>
      <% end %>   
    </div>
    <div class="col-md-5 sidebar">
    
    </div>
  </div>

  <div class="row ml-4 answer-except-best-answer">
    <div class="col-md-7 border border-info">
      <%= render 'all_answers_of_question' %>
    </div>
    <div class="col-md-5">
    
    </div>
  </div>
</div>
  