<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th colspan="2">プロフィール</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ID</th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th scope="row">ニックネーム</th>
      <td><%= @user.nickname %></td>
    </tr>
    <tr>
      <th scope="row">誕生日</th>
      <td>
        <% if @user.birthday%>
          <%= @user.birthday&.strftime("%Y年%M月%d日") %>
        <% else %>
          <%= "未登録" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">性別</th>
      <td>
        <% if @user.sex %>
          <%= @user.sex %>
        <% else %>
          <%= "未登録" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>