<div class="container profile-content">
  <div class="row ml-3 mt-5">
    <div class="col-lg-4 border border-aqua pl-4 pt-3 mb-3">
      <div id="profile-image">
        <% if @user.image.attached?  %>
          <div class="image mb-3">
            <%= image_tag @user.resize_image %>
          </div>
          <p>
            <%= @user.nickname %>
            <%= form_with model: @user, method: :delete, local: true do |f| %>
              <%= f.label :remove_image %>
              <%= f.check_box :remove_image %>
              <%= f.submit "削除" %>
            <% end %>
          </p>
        <% else %>
          <div id="no-image">
            <p>No＿Image</p> 
          </div>
        <% end %>
      </div>
      <div class="grade mr-2 mb-3 border border-aqua mt-3">
        <%= render 'grade' %>
      </div>
    </div>
    <div class="col-lg-7 ml-4">
      <%= render 'profile' %>
        <div class="row chart-container border border-aqua mb-3">
          <%= render 'chart' %>
        </div>
    </div>
  </div>
</div>

