<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'HOME', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to '助成金等検索', :subsidies, class: "nav-link"  %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ライフイベントから検索
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to '妊娠・出産',  event_path(id: 1), class: "dropdown-item" %>
          <%= link_to '子育て・保育',  event_path(id: 2), class: "dropdown-item" %>
          <%= link_to '学校教育',  event_path(id: 3), class: "dropdown-item" %>
          <%= link_to '結婚・離婚',  event_path(id: 4), class: "dropdown-item" %>
          <%= link_to '引越し・暮らし',  event_path(id: 5), class: "dropdown-item" %>
          <%= link_to '就職・退職',  event_path(id: 6), class: "dropdown-item" %>
          <%= link_to '高齢者・介護',  event_path(id: 7), class: "dropdown-item" %>
          <%= link_to 'おくやみ',  event_path(id: 8), class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to 'カテゴリ別検索', :categories, class: "nav-link"  %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'ログアウト', destroy_user_session_path, class: "nav-link"  %>
        </li>
        <li class="nav-item">
           <%= link_to 'アカウント編集', edit_user_registration_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      
      
    </ul>
  </div>
</nav>