<div class="container answer-new-content">
  <div class="row mt-5 ">
    <div class="col-lg-10 ml-4">
      <h3 class="text-center">回答を投稿して情報共有しよう！</h3>
      <%= form_with model: @answer, url: question_answers_path, local: true do |f| %>
        <%= render 'layouts/error_form', model: @answer %>
        <div class="content-form my-3">
          <p class="mb-0"><%= f.label :content, "回答・アドバイス" %></p>
          <%= f.text_area :content, class: "form-control", placeholder: "解決案やアドバイスなどを記載してください", size: "60x10" %>
        </div>
        <p><%= f.submit "投稿する", class: "btn btn-info form-control" %></p>
      <% end %>
      <p><%= link_to '質問詳細ページへ戻る', @question, class: "btn btn-info w-100" %></p>
    </div>
  </div>
</div>

