<div class="container-fluid top-container">
  <div class="row image-area">
    <div id="home" class="col">
      <div class="home-content">
        <h5 class="page-title"> 
          ○○市助成金<br>
          チェッカー 
        </h5>
        <p>あなたが本当に必要としている助成金等の情報をご提供。</p>
        <% unless user_signed_in? %>
          <%= link_to '新規登録はこちら', new_user_registration_path , class: "btn btn-info sign-up w-75" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class=" container top-main">
  <div class="row">
    <div class="col-12">
      <section class="desc">
        <h2 class="desc-title">サービス内容</h2>
        <p>残念ながら大多数の方々が助成金や補助金、各種手当に関する情報に疎いのが現状です。</p>
        <p>実際は受給できた助成金等を知らず知らずの内に見逃していることも多々あります。</p>
        <p>そのような機会損失を少しでも減らすために、多くの役に立つ情報をご提供します。</p>
      </section>
      <section class="info">
        <h2 id="information" class="info-title mb-0">NEWS（助成金等新着情報）</h2>
        <p>★新たに下記の助成金制度が実施されたました。申込期限や要件等を今すぐチェック！！</p>
        <table class="info-content">
          <% @informations.each do |information| %>
            <tr class="info-items">
              <td class="item1"><%= information.created_at.strftime("%Y/%m/%d") %></td>
              <td class="item2"><%= link_to information.title.truncate(34), information %></td>
            </tr>
          <% end %>
        </table>
        <div class="pagination">
          <p><%= paginate @informations, params: {anchor: "information"} %></p>
        </div>
      </section>
    </div>
  </div>
</div>

<%= render "menu_content" %>

<div class="container sub-content">
  <div class="row mb-4">
    <div class="col-12">
      <div class="access-title"><h3 class="text-center"><span>アクセス</span></h3></div>
    </div>
  </div>
  <div class="row access px-5">
    <div class="col-lg-5">
      <div class="access-info">
        <h3 class="border-bottom border-aqua">○○○市役所 本庁舎</h3>
        <br>
        <p> 
          住所： 沖縄県○○○市○○○ ××丁目××番××号<br>
          <br>
          電話： 111-9999-1111<br>
          <br>
          開庁時間：8:30 〜 17:15<br>
          <br>
          閉庁日： 土日祝祭日
        </p>
      </div>
    </div>  
    <div class="col-lg-7">
      <div class="access-map-content">
        <iframe class="access-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3574.3747153783993!2d127.85525185059132!3d26.379079033278714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e50f0409769803%3A0x6bf93acb32ffcb63!2z44GG44KL44G-5biC5b255omA!5e0!3m2!1sja!2sjp!4v1599698571564!5m2!1sja!2sjp" width="580" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
  <div class="sns-box mt-5">
    <div class="row mb-4">
      <div class="col-12">
        <h3 class="text-center"><span>SNS</span></h3>
      </div>
    </div>
    <div class="row sns"> 
      <div class="col-lg-4 twitter">
        <h4 class="text-center mb-5">Twitter</h4>
        <a class="twitter-timeline" data-height="315" href="https://twitter.com/Uruma_kouhou?ref_src=twsrc%5Etfw">Tweets by Uruma_kouhou</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-lg-4 facebook">
        <h4 class="text-center mb-5">Facebook</h4>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fja-jp.facebook.com%2Fpages%2Fcategory%2FCity-Hall%2F%25E3%2581%2586%25E3%2582%258B%25E3%2581%25BE%25E5%25B8%2582-290829237754534%2F&tabs=timeline&width=0&height=315&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="0" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="col-lg-4 youtube-content mb-3">
        <h4 class="text-center mb-5">Youtube</h4>
        <div class="youtube-movie">
          <iframe class="youtube " width="360" height="315" src="https://www.youtube.com/embed/UkI3inHVYNw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="footer d-flex align-items-center justify-content-center">
    ©️ 2020 Yutaka Iha
  </div>
</div>

    
    
    
    
