<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SubsidyCheckerApp</title>
    <meta name="description" content="助成金・補助金を素早くチェックできるアプリ">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
